@import "../../index.css";

.bg-dark {
  background-color: var(--rose) !important;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover {
  color: #fff;
  font-family: "Metropolis-SemiBold";
  font-size: 32px;
  position: absolute;
  left: 38%;
  top: 2px;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0);
  position: relative;
  left: 5%;
}

.navbar-dark .navbar-nav .nav-link {
  font-family: "Metropolis-Regular";
  font-size: 14px;
  color: #fff;
}

@media (max-width: 768px) {
  .navbar-dark .navbar-brand,
  .navbar-dark .navbar-brand:hover {
    font-size: 16px;
    position: absolute;
    left: 40%;
    top: 12px;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-family: "Metropolis-SemiBold";
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .navbar-dark .navbar-brand,
  .navbar-dark .navbar-brand:hover {
    position: absolute;
    left: 36%;
  }
}
