body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Metropolis-Regular";
  src: local("Metropolis-Regular"), url(./assets/fonts/Metropolis-Regular.otf);
}
@font-face {
  font-family: "Metropolis-Bold";
  src: local("Metropolis-Bold"), url(./assets/fonts/Metropolis-Bold.otf);
}
@font-face {
  font-family: "Metropolis-SemiBold";
  src: local("Metropolis-SemiBold"), url(./assets/fonts/Metropolis-SemiBold.otf);
}
@font-face {
  font-family: "Metropolis-Light";
  src: local("Metropolis-Light"), url(./assets/fonts/Metropolis-Light.otf);
}
@font-face {
  font-family: "Metropolis-ExtraBoldItalic";
  src: local("Metropolis-ExtraBoldItalic"), url(./assets/fonts/Metropolis-ExtraBoldItalic.otf);
}

:root {
  --purple: #823e93;
  --rose: #ffadad;
}